*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    color: #555555;
}
#min{
    float: left;
    font-size: 1.6em;
    font-weight: bold;
}
header nav ul li{
    display: inline-block;
    width: 160px;
    height: 30px;
    /*line-height: 30px;*/
    /*margin-right: 40px;*/
    /*font-size: 1.6em;*/
    float: right;
    text-align: right;
    color: slategray;
}
.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     /*width: 90%;*/
 }
img {
    width: 100%;
    height: auto;
}
header nav ul li:first-child{
     margin-left: 50px;
}
nav ul li:hover{
    color: orangered;
    cursor: pointer;
}
/*#cont{
    width: 90%;
    margin: 0 auto;
    align-items: center;
}*/
/*nav ul{
    list-style: none;
}*/
article{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
article h4{
    color: slategray;
}
article h2{
    color: dimgray;
    font-size: 1.9em;
}
article p{
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

footer{
    background: gainsboro;
}

/* Clearfix (clear floats) */
.clr{
    clear:both;
}
.sign{
    /*color: slategray;*/

    height: 340px;
    padding: 60px;
    text-align: center;
    color: dimgray;
    font-size: 1.9em;
    background: gainsboro;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}
#ema{
    background: gainsboro;
    width: 400px;
    font-size: 18px;
}
.btn{
    background: white;
    font-size: 18px;
    text-align: center;
    border: 2px solid dimgray;
    width: 200px;
    height: 80px;
}
.btn2 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.btn2:hover {
    background-color: #555555;
    color: white;
}
button:hover{
    /*color: orangered;*/
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/


.cap_2{
    color: cadetblue;
    font-family: 'Ubuntu', sans-serif;
    /*font-size: 1.4em;*/
}
.text_i{
    width: 90%;
}
.block_g{
    background: gainsboro;
}
.share{
    color: cadetblue;
    text-align: right;
    /*height: 50px;*/
}
.conli{
    padding: 40px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: white;
    color: black;
    opacity: 0.3;
}
.fa-twitter {
    background: white;
    color: black;
    opacity: 0.3;
}
.fa-instagram {
    background: white;
    color: black;
    opacity: 0.3;
}
.fa-pinterest {
    background: white;
    color: black;
    opacity: 0.3;
}
.fa-tumblr {
    background: white;
    color: black;
    opacity: 0.3;
}
.fa-google-plus {
    background: white;
    color: black;
    opacity: 0.3;
}
#post4:hover{
    cursor: pointer;
    border: 1px solid aqua;
}
#txt1:hover{
    cursor: pointer;
    color: aqua;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.4);
    font-size: 16px;
}
.modal-content {
    position: relative;
    background-color: darkgray;
    /*border: 1px solid #999;*/
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    margin: auto;
    padding:10px;
    width: 80%;
}
.close {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    /*color: #000;*/
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    color: red;
}
.close:hover{
    color: red;
    font-size: 38px;
}
#hp7:hover{
    cursor: pointer;
}
#hp4:hover{
    cursor: pointer;
}
#hp5:hover{
    cursor: pointer;
}
.ww{
    word-wrap: break-word;
    font-size: 14px;
}
.bold{
    font-weight: bold;
    font-size: 14px;
}